.home{
    background-color: rgb(58, 44, 44);
    color: rgb(212, 159, 159);
    font-family: 'Roboto', sans-serif;
    font-size: 1.9vw;
    font-weight: 100;
    height: 220vh;
    top:-12vh;
}

.home2{
    background-color: rgb(58, 44, 44);
    color: rgb(212, 159, 159);
    font-family: 'Roboto', sans-serif;
    font-size: 3.8vw;
    font-weight: 100;
    height: 220vh;
    top:-62vh;
    width: 196vw;
}