@import url('https://fonts.googleapis.com/css?family=Roboto:400');

#menubar{
    width: 98vw;
    height: 3vh;
    color: rgba(100,100,100,1.0);
    background-color: rgba(0, 0, 0, 1.0);
    position: relative;
    top: -42vh;

}

#menubar2{
    width: 196vw;
    
    height: 28vh;
    color: rgba(100,100,100,1.0);
    background-color: rgba(0, 0, 0, 1.0);
    position: relative;
    top: -52vh;
    
}

#menubar3{
    width: 96vw;
    height: 24vh;
    color: rgba(100,100,100,1.0);
    background-color: rgba(0, 0, 0, 1.0);
    position: relative;
    top: -55vh;

}


div {
    position:relative;
    }
    #nav {
    position:absolute;
    left:8%;top:0%;
     /* negative margin equal to half the width */
    width:80%;
    list-style:none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.95vw;
    }
    #nav li {
    float:left;
    color: white;
    }
    #nav a {
    display:block;
    text-align:center;
    width:15vw; /* fixed width */
    text-decoration:none; 
    color: rgb(143, 59, 59);
    }

    #nav2 {
        position:absolute;
        left:10%;top:20px;
         /* negative margin equal to half the width */
        width:65%;
        list-style:none;
        font-family: 'Roboto', sans-serif;
        font-size: 3.5vw;
    }

    #nav2 li {
        float:left;
    }

    #nav2 a {
        display:block;
        text-align:center;
        width:25vw; /* fixed width */
        text-decoration:none; 
    }    
    
    #nav3 {
        position:absolute;
        left:13%;top:10;
         /* negative margin equal to half the width */
        width:75%;
        list-style:none;
        font-family: 'Roboto', sans-serif;
        font-size: 2.0vw;
    }
    #nav3 li {
        float:left;
    }
    #nav3 a {
        display:block;
        text-align:center;
        width:12vw; /* fixed width */
        text-decoration:none; 
    }