.music{
    background-color: rgb(58, 44, 44);
    color: rgb(212, 159, 159);
    font-family: 'Roboto', sans-serif;
    font-size: 1.9vw;
    font-weight: 100;
    height: 220vh;
    top:-32vh;
}

.music2{
    background-color: rgb(58, 44, 44);
    color: rgb(212, 159, 159);
    font-family: 'Roboto', sans-serif;
    font-size: 3.8vw;
    font-weight: 100;
    height: 220vh;
    top:-62vh;
    width: 196vw;
}

.music3{
    background-color: rgb(58, 44, 44);
    color: rgb(212, 159, 159);
    font-family: 'Roboto', sans-serif;
    font-size: 1.90vw;
    font-weight: 100;
    height: 220vw;
    top:-42.15vh;
    width: 100%;
}



#rowl{
    margin: 40px;
    width: 100%;
   
}

#tcol{
    height: 15%;
}

.navn{
    width: 60%;
    height: 25%;
}

.aplayer{
    background: rgba(225,225,225,0.0);
    left: 10%;
}

#TrackList {

    border: 0px solid #0a3c59;
    background:rgba(226, 141, 141, 0.0);

    padding: 10.5px 21px;

    text-shadow: #7ea4bd 0 1px 0;
    color: #06426c;
    font-size: 1.75vw;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    height: 100%;

    }
    
 #TrackList:hover {
    border: 1px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #9c4141;

    color: #fff;
    }
    
 :target {
    border: 1px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #9c4141;

    color: #fff;
    }